{% load i18n %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Corporation",
  "name": "Sala MUV",
  "address":"CL. CAMINO DE LAS HORMIGUERAS 175, NAVE 8 - Madrid, España",
  "url": "{{current_site.domain}}",
  "description": "ASPAUCAE Asociación de Promotores Audiovisuales y Cultura de las Artes Escénicas. Conviértete en Socio del Club Sala MUV y asiste a nuestros eventos.",
  "logo": "{{current_site.domain}}static/img/logo.png",
  "sameAs": [
    "https://www.facebook.com/salamuvmadrid",
    "https://www.instagram.com/sala_muv/"
  ]
}
</script>
<script type="application/ld+json">
{
 "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "{{current_site.domain}}"
}
</script>
