{% load i18n static %}
<span class="table-actions d-flex flex-wrap" style="overflow: visible; position: relative; min-width: 110px;">
    <a title="{% trans 'Editar' %}" href="{{ record.get_edit_url }}" data-bs-toggle="tooltip"
       data-bs-placement="top" class="btn btn-sm">
        <i class="bi-input-cursor"></i>
    </a>

    <a title="{% trans 'Eliminar' %}" href="{{ record.get_delete_url}}" data-bs-toggle="tooltip"
       data-bs-placement="top" class="btn btn-sm">
        <i class="bi-trash text-danger"></i>
    </a>
</span>
