{% extends "base.html" %}
{% load i18n %}
{% block content%}
<form id="become-partner-form" class="form" enctype="multipart/form-data" method="post">
<h2 class="offset-md-2"> {% trans "Editar Cliente: "%} {{object.first_name}}</h2>
    {% csrf_token %}
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}
    <div class="offset-md-1 col-md-10 offset-xl-1 col-xl-10 offset-xxl-2 col-xxl-8 col-sm-12">
        {% include "form_snippets/non_field_errors.html" %}
        <div class="row g-2 p-2">

            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                {% include "form_snippets/basic_dynamic_field_label_above.html" with field=form.document_number %}
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                {% include "form_snippets/basic_dynamic_field_label_above.html" with field=form.email %}
            </div>

        </div>

        <div class="row g-2 p-2">

            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                {% include "form_snippets/basic_dynamic_field_label_above.html" with field=form.first_name %}
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                {% include "form_snippets/basic_dynamic_field_label_above.html" with field=form.last_name %}
            </div>

        </div>

        <div class="row g-2 p-2">

            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                {% include "form_snippets/basic_dynamic_field_label_above.html" with field=form.phone_number %}
            </div>

        </div>

        <div class="col-12 text-start">
            <button type="submit" class="btn btn-outline-primary btn-custom-radius">{% trans 'Guardar' %}</button>
            <a href="{% url 'customers:customers' %}" class="btn btn-outline-secondary btn-custom-radius">{% trans 'Cancelar' %}</a>
        </div>

        <br>
    </div>
</form>
{% endblock content%}
